.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-profile {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-image: linear-gradient(0deg, rgb(88, 185, 255) 0.00%,rgb(129, 202, 255) 60.00%,rgb(216, 238, 255) 100.00%);
}
.profile-heading {
  top: 0px;
  left: 176px;
  width: 1586px;
  height: 128px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile2-profile-picture {
  top: 78px;
  left: 64px;
  width: 321.547119140625px;
  height: 317px;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile2-image-container > img{
  width: 320px;
  height: 320px;
  border-radius: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.profile2-image-container{
  display: block;
  margin: 0 auto;
  position: relative;
}

.profile-shape {
  top: 29.287994384765625px;
  left: 48.05739212036133px;
  width: 226px;
  height: 247px;
  position: absolute;
}

.profile-maskgroup {
  top: 0px;
  left: 0px;
  width: 321.547119140625px;
  height: 317px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.pluss-button-container{
  position: absolute;

  bottom: 0;

}

.profile2-frame {
  top: 0px;
  left: 0px;
  width: 321.547119140625px;
  height: 317px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-logo {
  top: 47px;
  left: 6px;
  width: 301px;
  height: 55px;
  position: absolute;
}
.profile-text {
  top: 64px;
  left: 423px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text02 {
  top: 64px;
  left: 539px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text04 {
  top: 64px;
  left: 686px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: right;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text06 {
  top: 64px;
  left: 1502px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: right;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-profile-settings {
  top: 137px;
  left: 181px;
  width: 1581px;
  height: 877px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
}
.profile-rectangle45 {
  top: 0px;
  left: 0px;
  width: 1581px;
  height: 877px;
  position: absolute;
  border-color: rgba(0, 6, 69, 0.6000000238418579);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
.profile-background {
  top: 0px;
  left: 0px;
  width: 1581px;
  height: 849px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-smallone {
  top: 0px;
  left: 0px;
  width: 451px;
  height: 849px;
  position: absolute;
}
.profile-bigone {
  right: -5px;
  width: 1130px;
  bottom: -51px;
  height: 849px;
  position: absolute;
}
.profile-wave {
  left: -88px;
  width: 1669px;
  bottom: -83px;
  height: 362px;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius4);
}
.profile-userdetails {
  top: 60px;
  left: 523px;
  width: 982px;
  height: 537px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-username {
  top: 0px;
  left: 3px;
  width: 979px;
  height: 77px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-rectangle8 {
  top: 77px;
  left: 0px;
  width: 979px;
  height: 2px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(239, 239, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}
.profile-text08 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text10 {
  color: rgba(255, 0, 0, 0.5);
}
.profile-textinput {
  width: 100%;
  outline: none;
  align-self: flex-end;
  border-style: none;
  padding-left: 0px;
}
.profile-email {
  top: 115px;
  left: 3px;
  width: 979px;
  height: 77px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.profile2-frame{
  display: flex;
  flex-direction: column;
}
.profile-rectangle81 {
  top: 77px;
  left: 0px;
  width: 979px;
  height: 2px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(239, 239, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}
.profile-text11 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-text13 {
  color: rgba(255, 0, 0, 0.5);
}
.profile-textinput1 {
  width: 100%;
  outline: none;
  align-self: flex-end;
  border-style: none;
  padding-left: 0px;
}
.profile-fullname {
  top: 230px;
  left: 3px;
  width: 979px;
  height: 77px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-rectangle82 {
  top: 77px;
  left: 0px;
  width: 979px;
  height: 2px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(239, 239, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}
.profile-text14 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-textinput2 {
  width: 100%;
  outline: none;
  align-self: flex-end;
  border-style: none;
  padding-left: 0px;
}
.profile-address {
  top: 345px;
  left: 0px;
  width: 982px;
  height: 77px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 1;
  justify-content: flex-start;
}
.profile-rectangle83 {
  top: 77px;
  left: 3px;
  width: 979px;
  height: 2px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(239, 239, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}
.profile-text16 {
  top: 0px;
  left: 4px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-textinput3 {
  right: -1px;
  width: 100%;
  bottom: 0px;
  height: 33px;
  outline: none;
  position: absolute;
  align-self: flex-end;
  border-style: none;
  padding-left: 3px;
}
.profile-password {
  top: 460px;
  left: 0px;
  width: 982px;
  height: 77px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-rectangle84 {
  top: 77px;
  left: 3px;
  width: 979px;
  height: 2px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(239, 239, 239, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}
.profile-text18 {
  top: 0px;
  left: 2px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-textinput4 {
  left: -1px;
  width: 100%;
  bottom: 0px;
  height: 33px;
  outline: none;
  position: absolute;
  align-self: flex-end;
  border-style: none;
  padding-left: 4px;
}
.profile-apply-changes {
  top: 651px;
  left: 1205px;
  width: 291px;
  height: 57px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: rgba(246, 246, 246, 1);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
  cursor: pointer;
}
.profile-text20 {
  top: 9px;
  left: 42px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-revert-changes {
  top: 651px;
  left: 898px;
  width: 291px;
  height: 57px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  border-style: none;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(246, 246, 246, 1);
  cursor: pointer;
  text-decoration: underline;
}
.profile-text21 {
  top: 9px;
  left: 34px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Light;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-profile-picture {
  top: 78px;
  left: 64px;
  width: 321.547119140625px;
  height: 317px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-frame {
  top: 0px;
  left: 0px;
  width: 321.547119140625px;
  height: 317px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse2 {
  top: 0px;
  left: 0px;
  width: 322px;
  height: 317px;
  position: absolute;
}
.profile-maskgroup {
  top: 0px;
  left: 0px;
  width: 321.547119140625px;
  height: 317px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse1 {
  top: 0px;
  left: 0px;
  width: 322px;
  height: 317px;
  outline: none;
  position: absolute;
}
.profile-shape {
  top: 29.287994384765625px;
  left: 48.05739212036133px;
  width: 226px;
  height: 247px;
  position: absolute;
}
.profile-plus12 {
  top: 242.05699157714844px;
  left: 229.8015899658203px;
  width: 71px;
  height: 70px;
  position: absolute;
}
.profile-color-change {
  top: 540px;
  left: 20px;
  width: 92px;
  height: 92px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-ellipse8 {
  top: 0px;
  left: 0px;
  width: 92px;
  height: 92px;
  position: absolute;
}
.profile-ellipse7 {
  top: 10.298507690429688px;
  left: 32.955223083496094px;
  width: 27px;
  height: 72px;
  position: absolute;
}

.profile2-image-container{
  position: relative;
  top: 0;
}

.pluss{
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
}